.input-field .prefix {
	position: absolute;
	width: 3rem;
	font-size: 2rem;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=url]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=tel]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=search]:focus + label,
.input-field textarea:focus.materialize-textarea + label {
    color: #8bc34a;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
.input-field input[type=url]:focus,
.input-field input[type=date]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=number]:focus,
.input-field input[type=search]:focus,
.input-field textarea:focus.materialize-textarea {
    border-bottom: 1px solid #8bc34a;
    box-shadow: 0 1px 0 0 #8bc34a;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #8bc34a;
}

label {
	font-size: 1rem;
	font-weight: normal;
}