* {
  margin: 0;
}

html, body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbar{
    min-height: 60px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.brand-logo {
  text-decoration: none !important;
  display: inline-block;
}

nav .nav-wrapper i {
  display: inline-block;
  font-size: 2rem;
}

#title-logo {
  font-size: 148px;
  text-align: center;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

#title-name {
  /*font-size: 148px;*/
  text-align: center;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

#title-slogan {
  text-align: center;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.btn-social {
  margin-bottom: 15px;
}

