<div class="light-green lighten-1">
    <div class="container">
        <div class="col s12">
            <div class="card-panel">
                <form action="//formspree.io/juntadirectiva@asodec.com" name="" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col s12">
                            <h4>Contáctenos</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" name="name" value="" size="40" id="form-name" aria-required="true" aria-invalid="false">
                            <label for="form-name">Nombre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" name="_replyto" value="" size="40" id="form-email" aria-required="true" aria-invalid="false">
                            <label for="form-email">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-pencil prefix"></i>
                            <textarea name="message" cols="40" rows="10" class="materialize-textarea" id="message" aria-invalid="false"></textarea>
                            <label for="message">Mensaje</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn-large waves-effect waves-light light-green" type="submit" name="action" value="Send">Enviar<i class="fa fa-send right"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="hidden" name="_next" value="/">
                            <input type="text" name="_gotcha" style="display:none" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>