<div class="light-green lighten-1">
	<div class="container">
	    <div class="col s12">
	        <div class="card-panel">
	            <table>
	                <thead>
	                  <tr>
	                      <th data-field="puesto">Puesto</th>
	                      <th data-field="nombre">Nombre</th>
	                      <th data-field="correo">Correo elctrónico</th>
	                  </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>Presidente</td>
	                        <td>Adrian Rodriguez</td>
	                        <td>arodriguez@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Vicepresidente</td>
	                        <td>Ricardo Brenes</td>
	                        <td>rbrenes@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Secretario</td>
	                        <td>Gabriela Garro</td>
	                        <td>ggarro@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Prosecretario</td>
	                        <td>Melissa Calderon</td>
	                        <td>mcalderon@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Tesorero</td>
	                        <td>Fernando Cardoce</td>
	                        <td>fcardoce@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Vocal Administrativo</td>
	                        <td>Maria Jose Cordero</td>
	                        <td>mcordero@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Vocal Ejecutivo</td>
	                        <td>Saul Vindas</td>
	                        <td>svindas@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Fiscal en Propiedad</td>
	                        <td>Sebastian Segura</td>
	                        <td>ssegura@asodec.com</td>
	                    </tr>
	                    <tr>
	                        <td>Fiscal Adjunto</td>
	                        <td>Gabriel Madriz</td>
	                        <td>gmadriz@asodec.com</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>
