<div class="light-green lighten-1">
    <div class="container">
        <div>
            <h1 class="white-text animated fadeInUp" id="title-logo"><span class="icon-logo"></span></h1>
        </div>
        <div>
            <h1 class="white-text animated fadeInUp" id="title-name">asodec</h1>
        </div>
        <div>
            <h2 class="white-text animated fadeInUp" id="title-slogan">somos todos</h2>
        </div>
        <div class="row"> 
            <div class="col s12 m6 l3" id="sem_compu">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/semanacompu.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Semana-Compu <i class="fa fa-ellipsis-v right"></i></span>
                        <p><a class="light-green-text" href="#/semana-compu">Ver detalles</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Semana-Compu <i class="fa fa-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3" id="tienda">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/tienda.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tienda <i class="fa fa-ellipsis-v right"></i></span>
                        <p><a class="light-green-text" href="#/tienda">Ver detalles</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Tienda <i class="fa fa-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3" id="noticias">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/noticias.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Noticias <i class="fa fa-ellipsis-v right"></i></span>
                        <p><a class="light-green-text" href="#/noticias">Ver detalles</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Noticias <i class="fa fa-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3" id="documentos">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/documentos.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Documentos <i class="fa fa-ellipsis-v right"></i></span>
                        <p><a class="light-green-text" href="#/documentos">Ver detalles</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Documentos <i class="fa fa-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
            <div class="row center">
              <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
              <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>    

          </div>
        </div>
        <div class="parallax"><img src="./images/background1.jpg" alt="Unsplashed background img 2"></div>
      </div>
        </div>
    </div>
</div>
