<div fullpage>
    <div class="section light-green lighten-1">Some section</div>
    <div class="section teal">Some section</div>
    <div class="section grey">Some section</div>
    <div class="section">Some section</div>
</div>